Import libraries

In [31]:
import numpy as np
import pandas as pd
import os
from sklearn.preprocessing import StandardScaler

Import the data into the Python environment from CSV files

Rename data file after unzip downloaded files

In [32]:
# Load dataset
datapath = "/Users/sabye/Downloads/Codes/wgRFE-BIN/Data/"

cnv = pd.read_csv(datapath+"BRCA_cnv", sep='\t', comment='#')
print("cnv:", cnv.shape)
mrna = pd.read_csv(datapath+"BRCA_mrna", sep='\t', comment='#')
print("mrna:", mrna.shape)
clinical = pd.read_csv(datapath+"BRCA_clinical", sep='\t', comment='#')
print("clinical:", clinical.shape)

cnv: (24776, 1081)
mrna: (20530, 1219)
clinical: (1247, 194)

In [33]:
cnv.head(2)

,Gene Symbol,TCGA-3C-AAAU-01,TCGA-3C-AALI-01,TCGA-3C-AALJ-01,TCGA-3C-AALK-01,TCGA-4H-AAAK-01,TCGA-5L-AAT0-01,TCGA-5L-AAT1-01,TCGA-5T-A9QA-01,TCGA-A1-A0SB-01,...,TCGA-UL-AAZ6-01,TCGA-UU-A93S-01,TCGA-V7-A7HQ-01,TCGA-W8-A86G-01,TCGA-WT-AB41-01,TCGA-WT-AB44-01,TCGA-XX-A899-01,TCGA-XX-A89A-01,TCGA-Z7-A8R5-01,TCGA-Z7-A8R6-01
0,ACAP3,0.069,-1.008,-0.33,-0.023,0.0,0.006,-0.0,-0.647,0.002,...,-0.052,-0.431,0.024,0.01,-0.503,-0.722,-0.071,-0.511,-0.153,-0.066
1,ACTRT2,0.069,-1.008,-0.33,-0.023,0.0,0.006,-0.0,-0.647,0.002,...,-0.052,-0.431,0.024,0.01,-0.503,-0.722,-0.071,-0.511,-0.153,-0.066

In [34]:
mrna.head(2)

,sample,TCGA-AR-A5QQ-01,TCGA-D8-A1JA-01,TCGA-BH-A0BQ-01,TCGA-BH-A0BT-01,TCGA-A8-A06X-01,TCGA-A8-A096-01,TCGA-BH-A0C7-01,TCGA-AC-A5XU-01,TCGA-PE-A5DE-01,...,TCGA-A7-A13E-11,TCGA-C8-A8HP-01,TCGA-E9-A5FL-01,TCGA-AC-A2FB-11,TCGA-E2-A15F-01,TCGA-A2-A3XT-01,TCGA-B6-A0X7-01,TCGA-BH-A1EV-11,TCGA-3C-AALJ-01,TCGA-B6-A0X1-01
0,ARHGEF10L,9.5074,7.4346,9.3216,9.0198,9.6417,9.7665,10.0931,9.1524,9.9398,...,9.6265,10.1826,9.9199,9.9090,10.0334,11.5144,10.5745,9.4048,10.9468,10.3164
1,HIF3A,1.5787,3.6607,2.7224,1.3414,0.5819,0.2738,3.6090,0.4738,2.9378,...,8.1546,2.2159,3.8645,8.1872,0.8836,1.3169,4.0696,7.2537,0.9310,2.4191

In [35]:
cnv = cnv.set_index('Gene Symbol') 
mrna = mrna.set_index('sample')

In [36]:
cnv.head(2)

,TCGA-3C-AAAU-01,TCGA-3C-AALI-01,TCGA-3C-AALJ-01,TCGA-3C-AALK-01,TCGA-4H-AAAK-01,TCGA-5L-AAT0-01,TCGA-5L-AAT1-01,TCGA-5T-A9QA-01,TCGA-A1-A0SB-01,TCGA-A1-A0SD-01,...,TCGA-UL-AAZ6-01,TCGA-UU-A93S-01,TCGA-V7-A7HQ-01,TCGA-W8-A86G-01,TCGA-WT-AB41-01,TCGA-WT-AB44-01,TCGA-XX-A899-01,TCGA-XX-A89A-01,TCGA-Z7-A8R5-01,TCGA-Z7-A8R6-01
Gene Symbol,,,,,,,,,,,,,,,,,,,,,
ACAP3,0.069,-1.008,-0.33,-0.023,0.0,0.006,-0.0,-0.647,0.002,-0.521,...,-0.052,-0.431,0.024,0.01,-0.503,-0.722,-0.071,-0.511,-0.153,-0.066
ACTRT2,0.069,-1.008,-0.33,-0.023,0.0,0.006,-0.0,-0.647,0.002,-0.521,...,-0.052,-0.431,0.024,0.01,-0.503,-0.722,-0.071,-0.511,-0.153,-0.066

In [37]:
mrna.head(2)

,TCGA-AR-A5QQ-01,TCGA-D8-A1JA-01,TCGA-BH-A0BQ-01,TCGA-BH-A0BT-01,TCGA-A8-A06X-01,TCGA-A8-A096-01,TCGA-BH-A0C7-01,TCGA-AC-A5XU-01,TCGA-PE-A5DE-01,TCGA-PE-A5DC-01,...,TCGA-A7-A13E-11,TCGA-C8-A8HP-01,TCGA-E9-A5FL-01,TCGA-AC-A2FB-11,TCGA-E2-A15F-01,TCGA-A2-A3XT-01,TCGA-B6-A0X7-01,TCGA-BH-A1EV-11,TCGA-3C-AALJ-01,TCGA-B6-A0X1-01
sample,,,,,,,,,,,,,,,,,,,,,
ARHGEF10L,9.5074,7.4346,9.3216,9.0198,9.6417,9.7665,10.0931,9.1524,9.9398,9.6287,...,9.6265,10.1826,9.9199,9.9090,10.0334,11.5144,10.5745,9.4048,10.9468,10.3164
HIF3A,1.5787,3.6607,2.7224,1.3414,0.5819,0.2738,3.6090,0.4738,2.9378,4.1136,...,8.1546,2.2159,3.8645,8.1872,0.8836,1.3169,4.0696,7.2537,0.9310,2.4191

Transpose the data

In [38]:
cnv = np.transpose(cnv)
print("cnv:", cnv.shape)
mrna = np.transpose(mrna)
print("mrna:", mrna.shape)
#print("clinical:", clinical.shape) # clinical do not need to transpose

cnv: (1080, 24776)
mrna: (1218, 20530)

In [39]:
cnv.head(2)

Gene Symbol,ACAP3,ACTRT2,AGRN,ANKRD65,ATAD3A,ATAD3B,ATAD3C,AURKAIP1,B3GALT6,C1orf159,...,SMIM9,SNORA36A,SNORA56,TMLHE,VBP1,IL9R|ENSG00000124334.12,SPRY3|ENSG00000168939.6,VAMP7|ENSG00000124333.10,WASH6P|ENSG00000182484.10,WASIR1|ENSG00000185203.7
TCGA-3C-AAAU-01,0.069,0.069,0.069,0.069,0.069,0.069,0.069,0.069,0.069,0.069,...,-0.395,-0.395,-0.395,-0.395,-0.395,-0.395,-0.395,-0.395,-0.395,-0.395
TCGA-3C-AALI-01,-1.008,-1.008,-1.008,-1.008,-1.008,-1.008,-1.008,-1.008,-1.008,-1.008,...,-0.504,-0.504,-0.504,-0.504,-0.504,-0.504,-0.504,-0.504,-0.504,-0.504

In [40]:
mrna.head(2)

sample,ARHGEF10L,HIF3A,RNF17,RNF10,RNF11,RNF13,GTF2IP1,REM1,MTVR2,RTN4RL2,...,TULP2,NPY5R,GNGT2,GNGT1,TULP3,PTRF,BCL6B,GSTK1,SELP,SELS
TCGA-AR-A5QQ-01,9.5074,1.5787,0.0000,11.3676,11.1292,9.9722,11.5966,3.2396,0.0,3.5764,...,0.5819,0.0,5.3307,0.5819,9.1928,13.8808,7.3830,11.4289,7.8456,10.7384
TCGA-D8-A1JA-01,7.4346,3.6607,0.6245,11.9181,13.5273,10.8702,12.3048,2.5547,0.0,6.0854,...,1.0589,0.0,3.1017,3.7793,9.8340,10.7066,7.2467,9.1673,0.0000,10.1225

Identify shared patients across all datasets and exclude those not shared

Remove duplication

In [41]:
cnv = cnv[~cnv.duplicated(keep='first')]
mrna = mrna[~mrna.duplicated(keep='first')]

print("cnv:", cnv.shape)
print("mrna", mrna.shape)

cnv: (1080, 24776)
mrna (1218, 20530)

In [42]:
cnv.index.names = ['sample']
mrna.index.names = ['sample']

cnv = cnv.sort_values(by='sample')
mrna = mrna.sort_values(by='sample')

cnv = cnv.reset_index()
mrna = mrna.reset_index()

list_1 = cnv['sample'].values.tolist()
list_2 = mrna['sample'].values.tolist()

common_list0 = set(list_1).intersection(list_2)
print ("Shape of common samples:", len(common_list0))

common_df = pd.DataFrame(common_list0)
common_df.rename(columns = {0:'sample'}, inplace = True)
common_df.head(3)

Shape of common samples: 1078

            sample
0  TCGA-AC-A23C-01
1  TCGA-AN-A0AK-01
2  TCGA-EW-A6SA-01

In [43]:
cnv.head(2)

Gene Symbol,sample,ACAP3,ACTRT2,AGRN,ANKRD65,ATAD3A,ATAD3B,ATAD3C,AURKAIP1,B3GALT6,...,SMIM9,SNORA36A,SNORA56,TMLHE,VBP1,IL9R|ENSG00000124334.12,SPRY3|ENSG00000168939.6,VAMP7|ENSG00000124333.10,WASH6P|ENSG00000182484.10,WASIR1|ENSG00000185203.7
0,TCGA-3C-AAAU-01,0.069,0.069,0.069,0.069,0.069,0.069,0.069,0.069,0.069,...,-0.395,-0.395,-0.395,-0.395,-0.395,-0.395,-0.395,-0.395,-0.395,-0.395
1,TCGA-3C-AALI-01,-1.008,-1.008,-1.008,-1.008,-1.008,-1.008,-1.008,-1.008,-1.008,...,-0.504,-0.504,-0.504,-0.504,-0.504,-0.504,-0.504,-0.504,-0.504,-0.504

In [44]:
mrna.head(2)

sample,sample,ARHGEF10L,HIF3A,RNF17,RNF10,RNF11,RNF13,GTF2IP1,REM1,MTVR2,...,TULP2,NPY5R,GNGT2,GNGT1,TULP3,PTRF,BCL6B,GSTK1,SELP,SELS
0,TCGA-3C-AAAU-01,10.4713,2.3606,0.0000,11.6317,11.2053,10.1911,12.3502,4.0452,0.7564,...,0.0000,2.1527,3.7074,0.000,8.9560,11.4006,7.8250,12.1997,5.6018,9.7282
1,TCGA-3C-AALI-01,9.2228,0.6265,0.6265,11.8757,10.4259,10.1674,12.4482,4.1138,2.2650,...,1.0618,1.6668,4.9499,3.278,9.3888,12.1666,8.1093,10.7031,5.5942,10.0766

Identify shared patients across all datasets and exclude those not shared

In [45]:
cnv_common = cnv[cnv['sample'].isin(common_df['sample'])]
print ("Shape of samples CNV:", cnv_common.shape)

mrna_common = mrna[mrna['sample'].isin(common_df['sample'])]
print ("Shape of samples RNA Sequence (RNASeq):", mrna_common.shape)

Shape of samples CNV: (1078, 24777)
Shape of samples RNA Sequence (RNASeq): (1078, 20531)

Concatenate datasets with class labels

In [46]:
dataClass = clinical.PAM50Call_RNAseq.unique()
print("PAM50Call_RNAseq:", dataClass)
print(clinical.PAM50Call_RNAseq.value_counts())

PAM50Call_RNAseq: [nan 'Normal' 'LumA' 'LumB' 'Basal' 'Her2']
PAM50Call_RNAseq
LumA      434
LumB      194
Basal     142
Normal    119
Her2       67
Name: count, dtype: int64

In [47]:
cnv_common.set_index('sample', inplace=True)
mrna_common.set_index('sample', inplace=True)

In [48]:
cnv_common_class = pd.merge(cnv_common, clinical.set_index('sampleID')['PAM50Call_RNAseq'].to_frame(), how='inner', left_on='sample', right_index=True)
print ("cnv:", cnv_common_class.shape)

mrna_common_class = pd.merge(mrna_common, clinical.set_index('sampleID')['PAM50Call_RNAseq'].to_frame(), how='inner', left_on='sample', right_index=True)
print ("RNA Sequence (RNASeq):", mrna_common_class.shape)

cnv: (1078, 24777)
RNA Sequence (RNASeq): (1078, 20531)

Examine cancer subtypes and class distributions, then retain only patients with sufficient representation in the class labels

In [49]:
print(cnv_common_class.PAM50Call_RNAseq.value_counts())
print(mrna_common_class.PAM50Call_RNAseq.value_counts())

PAM50Call_RNAseq
LumA      415
LumB      192
Basal     135
Her2       67
Normal     22
Name: count, dtype: int64
PAM50Call_RNAseq
LumA      415
LumB      192
Basal     135
Her2       67
Normal     22
Name: count, dtype: int64

In [50]:
cnv_common_class.dropna(subset=['PAM50Call_RNAseq'], inplace = True)
print("cnv:", cnv_common_class.shape)

mrna_common_class.dropna(subset=['PAM50Call_RNAseq'], inplace = True)
print("mrna", mrna_common_class.shape)

cnv: (831, 24777)
mrna (831, 20531)

In [51]:
# List of subtypes to remove
subtypes_to_remove = [
    "Normal"
]

# Filter them out
cnv_common_class = cnv_common_class[~cnv_common_class['PAM50Call_RNAseq'].isin(subtypes_to_remove)]
print("Copy Number Variation (CNV):", cnv_common_class.shape)

mrna_common_class = mrna_common_class[~mrna_common_class['PAM50Call_RNAseq'].isin(subtypes_to_remove)]
print("RNA Sequence (RNASeq):", mrna_common_class.shape)

Copy Number Variation (CNV): (809, 24777)
RNA Sequence (RNASeq): (809, 20531)

Remove features with missing values

In [52]:
print ("Any missing values in cnv?: ", cnv_common_class.isnull().values.any())
print ("Any missing values in mrna?:", mrna_common_class.isnull().values.any())

Any missing values in cnv?:  False
Any missing values in mrna?: False

In [53]:
cnv_common_class.dropna(axis=1, how='any', inplace = True) 
mrna_common_class.dropna(axis=1, how='any', inplace = True)

print("cnv:", cnv_common_class.shape)
print("mrna", mrna_common_class.shape)

cnv: (809, 24777)
mrna (809, 20531)

In [54]:
print ("Any missing values in cnv?: ", cnv_common_class.isnull().values.any())
print ("Any missing values in mrna?:", mrna_common_class.isnull().values.any())

Any missing values in cnv?:  False
Any missing values in mrna?: False

Remove zero-variance features

In [55]:
dataframes = [cnv_common_class, mrna_common_class]

# Iterate over each dataframe and check for zero-variance columns
for i, df in enumerate(dataframes):
    print(f"\nProcessing DataFrame {i+1}...")  # Debugging output
    
    # Exclude the last column (assuming it's the class column)
    feature_columns = df.iloc[:, :-1]
    
    # Find columns with zero variance
    zero_var_cols = feature_columns.columns[feature_columns.nunique() <= 1]
    
    if len(zero_var_cols) > 0:
        print(f"DataFrame {i+1} has {len(zero_var_cols)} zero-variance columns: {list(zero_var_cols)}")
        
        # Drop zero-variance columns and reassign to the dataframes list
        dataframes[i] = df.drop(columns=zero_var_cols)
        
        # Debugging output: Check new shape of the dataframe
        print(f"DataFrame {i+1} updated shape: {dataframes[i].shape}")
    else:
        print(f"DataFrame {i+1} has no zero-variance columns.")

# Verify updated shapes
print("\n----Updated Shapes of DataFrames----")
for i, df in enumerate(dataframes):
    print(f"DataFrame {i+1}: {df.shape}")

Processing DataFrame 1...
DataFrame 1 has no zero-variance columns.

Processing DataFrame 2...
DataFrame 2 has 293 zero-variance columns: ['RBMY1A3P', 'SNORD115-17', 'SNORD114-31', 'SNORD114-30', 'SNORD115-6', 'SNORD115-4', 'SNORD104', 'SNORD115-9', 'SNORD38A', 'KRTAP19-7', 'KRTAP19-4', 'SNORD114-3', 'HBII-52-27', 'SNORD11', 'SNORD12', 'SNORD21', 'SNORD20', 'SNORD25', 'SNORD127', 'DAZ3', 'DAZ2', 'DAZ4', 'SNORD124', 'TTTY17A', 'SNORD115-5', 'SNORD80', 'SNORD56B', 'SNORD78', 'SNORD113-7', 'SNORD96A', 'SNORD119', 'HBII-52-46', 'HBII-52-45', 'SNORD47', 'SNORD4B', 'SNORD4A', 'SNORD116-24', 'SNORD116-25', 'SNORD116-23', 'SNORD116-29', 'RBMY1B', 'RBMY1F', 'BPY2', 'SNORD115-8', 'SNORD66', 'HBII-52-28', 'SNORD69', 'SNORD68', 'SNORD38B', 'SNORD113-4', 'SNORD116-26', 'SNORD115-1', 'SNORD58A', 'SNORD58C', 'PRR20A', 'PRR20D', 'SNORD96B', 'SNORD63', 'SNORD116-22', 'SNORD81', 'PLA2G2E', 'PRAMEF3', 'SNORD114-20', 'SNAR-A3', 'SNORD115-20', 'SNORD115-22', 'SNORD115-25', 'SNORD114-29', 'TEX28', 'CEACAM18', 'SNORD29', 'S100A7L2', 'LOC653545', 'SNORD16', 'SNORD36A', 'SNORD91B', 'SNORD87', 'SNORD86', 'DEFB116', 'DEFB114', 'DEFB112', 'TTTY4C', 'RBMY1E', 'SNORD91A', 'SNORD88B', 'SNORD50B', 'SNORD65', 'KRTAP22-1', 'SNORD61', 'SNORD115-35', 'SNORD114-10', 'SNORD114-6', 'SNORD114-5', 'SNORD12C', 'SNORD123', 'SNORD126', 'SNORD125', 'KRTAP23-1', 'SNORD48', 'SNORD114-9', 'SNORD46', 'SNORD115-2', 'SNORD115-3', 'SNORD27', 'SNORD105', 'RBMY2EP', 'SNORD35A', 'SNORD35B', 'RBMY3AP', 'TTTY22', 'SNORD24', 'SNORD28', 'TTTY6B', 'SNORD49A', 'SNORD102', 'SNORD115-14', 'SNORD115-16', 'SNORD30', 'SNORD31', 'SNORD115-10', 'SNORD18B', 'SNORD26', 'SNORD114-7', 'SNORD45C', 'SNORD111B', 'SNORD18A', 'TTTY6', 'TTTY7', 'TTTY5', 'SNORA36C', 'TTTY20', 'CT47A9', 'SNORD109B', 'SNORD45B', 'TTTY23', 'SNORD45A', 'SNORD114-22', 'SNORD114-23', 'SNORD114-26', 'SNORD114-27', 'SNORD114-24', 'SNORD114-25', 'SNORD114-28', 'SNORD115-41', 'SNORD115-40', 'SNORD1A', 'SNORD1B', 'SNORD19', 'SNORD115-37', 'SNORD44', 'SNORD34', 'SNORD121B', 'SNORD121A', 'SNAR-H', 'SNORD51', 'SNORD115-44', 'SNORD36C', 'SNORD115-48', 'SNORD11B', 'SNORD49B', 'SNORA35', 'SNORD116-11', '?|136542', 'SNORD59B', 'SNORD59A', 'SNORD116-27', 'SNORD114-21', 'SNORD114-11', 'SNORD72', 'SNORD74', 'SNORD75', 'SNORD79', 'SNORD114-4', 'CDY1', 'RNU5E', 'SNORD88C', 'RNY5', 'RNY4', 'SNORD114-16', 'SNORD52', 'SNORD53', 'SNORD115-11', 'SNORD113-9', 'SNORD113-5', 'SNORD113-6', 'SNORD113-1', 'SNORD113-2', 'SNORD114-14', 'SNORD116-18', 'KRTAP20-3', 'SNORD98', 'SNORD99', 'SNORD93', 'KRTAP20-1', 'SNORD116-12', 'SNORD73A', 'SNORD115-32', 'SNORD115-39', 'SNAR-D', 'DEFB122', 'SNORD116-10', 'SNORD116-13', 'SNORD116-15', 'SNORD116-14', 'SNORD116-16', 'XKRY', 'SNORD95', 'SNORD90', 'SNORD114-18', 'SNORD92', 'TSSK2', 'SNORA70C', 'SNORD114-15', 'SNORD19B', 'SNORD70', 'SNORD76', 'SNORD77', 'HBII-52-24', 'TREML2P1', 'SNORD60', 'TXNDC8', 'TTTY3B', 'KRTAP13-3', 'SNORA11C', 'SNORD105B', 'TTTY17B', 'SNORD6', 'SNORD7', 'SNORD5', 'SNORD2', 'SNORD9', 'SNORD33', 'VTRNA1-2', 'SNAR-G2', 'SNORD54', 'TTTY16', 'TTTY18', 'TTTY1B', 'FAM197Y2', 'SNORD114-8', 'SNORD55', 'SNORD56', 'SNORD57', 'DUX4', 'SNORD50A', 'SNORD117', 'SNORD110', 'SNORD111', 'SNAR-A4', 'TTTY12', 'SNORD32A', 'SNORD43', 'SNORD114-12', 'SNORD71', 'PRR20B', 'SNAR-C3', 'SNAR-C2', 'SNORD88A', 'SNORD36B', 'VTRNA1-3', 'VTRNA1-1', 'SNORD41', 'SNORD62A', 'LCE3B', 'SNORD116-5', 'SNORD103A', 'SNORD42B', 'SNORD42A', 'SNORD37', 'SNORD114-1', 'TTTY11', 'TTTY13', 'TTTY19', 'SNORD115-33', 'SNORD115-30', 'SNORD115-31', 'SNORD114-2', 'SNORD115-38', 'SNORD18C', 'SNORD12B', 'CDY2B', 'SNORD114-19', 'SNORD114-13', 'SNORD114-17', 'CT47A10', 'SNORD116-8', 'SNORD116-1', 'SNORD116-3', 'SNORD116-2', 'SNORD85', 'SNORD84', 'SNORD82', 'SNORD32B']
DataFrame 2 updated shape: (809, 20238)

----Updated Shapes of DataFrames----
DataFrame 1: (809, 24777)
DataFrame 2: (809, 20238)

Eliminate redundant information

In [56]:
# Remove duplicates from each dataset
omics_datasets = [df.drop_duplicates() for df in dataframes]

# Unpack the updated datasets back into variables
cnv_common_class, mrna_common_class = omics_datasets

print ("----Omics dataset----")
print("cnv:", cnv_common_class.shape)
print("mrna", mrna_common_class.shape)

print ("----Class distribution----")
print(cnv_common_class.PAM50Call_RNAseq.value_counts())

----Omics dataset----
cnv: (809, 24777)
mrna (809, 20238)
----Class distribution----
PAM50Call_RNAseq
LumA     415
LumB     192
Basal    135
Her2      67
Name: count, dtype: int64

Data standardization

In [57]:
datapath_out = "/Users/sabye/Downloads/Codes/wgRFE-BIN/Result/"

In [58]:
os.makedirs(datapath, exist_ok=True)

# Dictionary of datasets with descriptive keys
dataframes = {
    "cnv": cnv_common_class,
    "mrna": mrna_common_class
}

# Initialize the StandardScaler
scaler = StandardScaler()

# Process each dataset and save the preprocessed file
for key, df in dataframes.items():
    print(f"Processing dataset: {key}")
    
    # Separate features and class
    features = df.iloc[:, :-1]
    classes = df.iloc[:, -1]
    
    # Standardize the features
    standardized_features = scaler.fit_transform(features)
    
    # Recreate the DataFrame
    standardized_df = pd.DataFrame(standardized_features, columns=features.columns, index=df.index)
    standardized_df['PAM50Call_RNAseq'] = classes
    
    # Save the standardized DataFrame to CSV
    output_path = os.path.join(datapath_out, f"Preprocessed_BRCA_{key}.csv")
    standardized_df.to_csv(output_path, index=True)
    print(f"Standardized data for {key} saved successfully at {output_path}")
    
    # Clean up variables to free up memory
    del features, classes, standardized_features, standardized_df

Processing dataset: cnv
Standardized data for cnv saved successfully at /Users/sabye/Downloads/Codes/wgRFE-BIN/Result/Preprocessed_BRCA_cnv.csv
Processing dataset: mrna
Standardized data for mrna saved successfully at /Users/sabye/Downloads/Codes/wgRFE-BIN/Result/Preprocessed_BRCA_mrna.csv

In [59]:
cnv_common_class.head(3)

,ACAP3,ACTRT2,AGRN,ANKRD65,ATAD3A,ATAD3B,ATAD3C,AURKAIP1,B3GALT6,C1orf159,...,SNORA36A,SNORA56,TMLHE,VBP1,IL9R|ENSG00000124334.12,SPRY3|ENSG00000168939.6,VAMP7|ENSG00000124333.10,WASH6P|ENSG00000182484.10,WASIR1|ENSG00000185203.7,PAM50Call_RNAseq
sample,,,,,,,,,,,,,,,,,,,,,
TCGA-A1-A0SD-01,-0.521,-0.521,-0.521,-0.521,-0.521,-0.521,-0.521,-0.521,-0.521,-0.521,...,-0.060,-0.060,-0.060,-0.060,-0.060,-0.060,-0.060,-0.060,-0.060,LumA
TCGA-A1-A0SE-01,-0.060,-0.060,-0.060,-0.060,-0.060,-0.060,-0.060,-0.060,-0.060,-0.060,...,-0.008,-0.008,-0.008,-0.008,-0.008,-0.008,-0.008,-0.008,-0.008,LumA
TCGA-A1-A0SF-01,-0.015,-0.015,-0.015,-0.015,-0.015,-0.015,-0.015,-0.015,-0.015,-0.015,...,0.065,0.065,0.065,0.065,0.065,0.065,0.065,0.065,0.065,LumA

In [60]:
mrna_common_class.head(3)

,ARHGEF10L,HIF3A,RNF17,RNF10,RNF11,RNF13,GTF2IP1,REM1,MTVR2,RTN4RL2,...,NPY5R,GNGT2,GNGT1,TULP3,PTRF,BCL6B,GSTK1,SELP,SELS,PAM50Call_RNAseq
sample,,,,,,,,,,,,,,,,,,,,,
TCGA-A1-A0SD-01,9.1657,2.4935,0.0,11.7868,11.0131,10.5228,12.8109,4.6140,0.0,5.1989,...,3.6145,4.3589,0.4123,9.3914,12.6757,8.9559,10.7473,8.7529,10.5299,LumA
TCGA-A1-A0SE-01,9.7179,3.3983,0.0,11.3219,11.2617,10.3831,12.5342,4.1789,0.0,6.2297,...,0.9907,3.3525,0.0000,9.7743,12.6287,8.0530,11.0453,7.8723,9.8006,LumA
TCGA-A1-A0SF-01,9.8581,4.9132,0.0,11.4817,11.0700,10.2721,12.7637,3.3820,0.0,6.4376,...,0.8928,4.4016,1.8361,9.3262,12.4998,8.0516,11.5144,7.7695,10.2341,LumA